<div id={{course.id}} 
     class="home-course-entry 
            {{if expanded 'expanded'}} 
            {{if course.added 'added'}}">
   <div class="head">
      <div class="add-course clickable" onClick={{action 'onAddCourse'}}>
         <div class="hint">
            <div class="ribbon-left"></div>
            <div class="text">
               {{if course.added 'Drop' 'Take'}} course
            </div>
         </div>
         <div class="c-button">
            <span class="glyphicon"><span class="icon"></span></span>
         </div>
      </div>
      <div class="expand-bar clickable" onClick={{action "expand"}}>
         <i class="glyphicon glyphicon-chevron-{{if expanded 'up' 'down'}}"></i>
         <span class="subject">{{course.id}}</span>
         <span class="subject">{{course.subject}}</span>
         <span class="number">{{course.number}}:</span> 
         <span class="title">{{course.title}}</span>
      </div>
   </div>
   <div class="body watch-transition">
   <div class="margin">
      <table class="table">
         <thead>
            <tr>
               <th>Section</th> 
               <th>Day</th> 
               <th>Time</th> 
               <th>Instructor</th> 
               <th>Capacity</th> 
               <th>Enrolled</th> 
               <th></th> 
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Section 01</td>
               <td>MWF</td>
               <td>10:00pm-12:00pm</td>
               <td>Jonesason Weasfdaesta</td>
               <td>70</td>
               <td>100</td>
               <td><button type="botton" class="btn btn-link">Prefer this section</button></td>
            </tr>
            <tr>
               <td>Section 01</td>
               <td>MWF</td>
               <td>10:00pm-12:00pm</td>
               <td>Jonesason Weasfdaesta</td>
               <td>70</td>
               <td>100</td>
               <td><button type="botton" class="btn btn-link">Prefer this section</button></td>
            </tr>
         </tbody>
      </table>
   </div>
   </div>
</div>
