<div class="schedule-calendar">
<div class="grid">
   <div class="g-head g-row">
   {{#each days as |d|}}
      <div class="g-cell">{{d}}</div>
   {{/each}}
   </div>
   <div class="g-body">
   {{#each time as |t|}}
      
      <div class="g-row {{if t.hr 'g-hr'}}">
      {{#each days as |d|}}
         <div class="g-cell {{d}} {{t.h}} {{t.m}} {{if t.vr 'vr'}}">
            <span class="g-label">{{t.h}}:{{t.m}}</span>
         </div>
      {{/each}}
      </div>
   {{/each}}
   </div>
</div>
<div class="convas"></div>
</div>

