{{component 'home-head'}}
<div id="home-body" class="state-{{state}}">
   {{component 'home-search-results' schedules=schedules}}
   <div id="home-search">
      {{component 'home-searchbar' 
         searchText=searchText
         onSearch=(action "onSearch")
         onSearchClicked=(action "onSearchClicked")}}
      <div id="home-course-entries" class="watch-transition">
      {{#each coursesDisplayed as |c|}}
         {{component 'home-course-entry' 
            course=c
            onAddCourse=(action "onAddCourse")
            onRemoveCourse=(action "onRemoveCourse")
            expandedEntry=expandedEntry}}
      {{/each}}
      </div>
   </div>
</div>
